@model ReportSchedulerPrototype.Controllers.ReportBController.ReportBViewModel
@{
    ViewBag.Title = "Report B";
}

<!-- This name will be used to construct the action names to call in ReportSchedulerController -->
<input id="ReportTypeName" type="hidden" value="ReportB" />

<div class="jumbotron">
    <p class="lead">This is a prototype MVC application to help determine the best structure for a common control for report scheduling.</p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>This is the report specific area</h2>
        <p>
            This report form includes the "report scheduling" as a partial, somewhere on the page (here on the right).
            Javascript will be used to properly handle posts targeted at report scheduling.
        </p>
        <div>
            <br/><table>
                <thead><tr><th>Filter Item</th><th>Filter Value</th></tr></thead>
                @{
                    foreach (var filterItem in Model.FilterDisplayList)
                    {
                        <tr>
                            <td style="background-color:red; color:white;">@filterItem.Key</td>
                            <td style="background-color:yellow; color:black;">@filterItem.Value</td>
                        </tr>
                    }
                }
            </table><br/>
        </div>

        <!-- This <div> is critical. It must wrap all of the report's filter items so they can be serialized. -->
        <div id="ReportFilters">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(model => model.ReportFilter.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReportFilter.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReportFilter.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(model => model.ReportFilter.DayOfMonth, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ReportFilter.DayOfMonth, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReportFilter.DayOfMonth, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4" style="border: 1px dotted red">
        <!-- We insert the global "report scheduler" partial, passing it the related scheduling fields for serialization -->
        @Html.Partial("ReportSchedulerPartial", Model.ReportSchedulerFilter)
    </div>
</div>

<div>@Html.ActionLink("Switch to Report A", "Index", "ReportA")</div>